# Notebook 01: Data Ingestion & Initial Exploration

## Project: AI-Powered Credit Risk Intelligence System

**Purpose of this notebook**
- Load raw weekly credit application data (Parquet)
- Perform initial exploration and sanity checks
- Validate data structure before downstream processing

This notebook represents the **Bronze â†’ Silver boundary** in the data pipeline.

In [2]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", 100)
pd.set_option("display.float_format", "{:,.4f}".format)

In [3]:
DATA_PATH = "../data/raw/credit_applications_snapshot_20251221.parquet"

df = pd.read_parquet(DATA_PATH)

print("Shape:", df.shape)
df.head()

Shape: (1000000, 39)

,application_id,customer_id,application_date,product_type,region,age,education_level,employment_status,time_in_job_months,residential_status,time_at_address_months,annual_income,other_income,total_income,monthly_income,loan_amount,term_months,monthly_debt_payments,dti,savings_balance,credit_history_months,num_open_accounts,num_closed_accounts,num_delinquencies_12m,num_delinquencies_24m,utilization_rate,hard_inquiries_6m,hard_inquiries_12m,bankruptcies,collections,bureau_score,apr,device_trust_score,email_domain_risk,ip_risk,kyc_match,p_default_true,pd_bucket,default_12m
0,10000001,1803258,2024-06-25,credit_card,London,22,college,employed,22,family,48,"19,685.4200","1,757.8200","21,443.2400","1,786.9400",382.0600,0,689.0900,0.3856,"1,225.1100",130,9,7,1,2,0.6005,3,5,0,0,608,0.4189,61.9000,low,low,1,0.2709,E,0
1,10000002,7965604,2025-10-14,credit_card,London,39,bachelors,retired,35,mortgage,53,"37,811.1200","2,707.9000","40,519.0200","3,376.5800","3,673.9900",0,"1,243.7600",0.3683,192.4900,50,7,5,0,0,0.2184,0,0,0,0,613,0.3535,86.2000,low,medium,1,0.0517,C,0
2,10000003,6891143,2025-04-01,credit_card,Midlands,38,bachelors,student,40,mortgage,43,"29,183.8900",921.7600,"30,105.6500","2,508.8000","4,243.8400",0,"2,717.9200",1.0834,"1,789.0400",144,6,5,3,5,0.4918,1,1,0,0,571,0.4689,62.7000,medium,low,1,0.5697,E,1
3,10000004,4949905,2024-04-29,mortgage_topup,North,45,bachelors,self_employed,10,mortgage,15,"27,936.7100","1,785.8000","29,722.5100","2,476.8800","7,897.9600",84,642.1000,0.2592,708.7400,191,4,13,0,0,0.4486,1,2,0,1,600,0.2124,75.2000,low,low,1,0.1094,D,0
4,10000005,4897137,2025-12-01,personal_loan,North,35,bachelors,employed,26,mortgage,24,"19,960.2000",940.7800,"20,900.9800","1,741.7500","1,687.4100",18,"1,019.2600",0.5852,"2,875.8600",116,3,5,1,1,0.4223,0,1,0,0,632,0.2901,95.5000,medium,low,1,0.0957,C,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 39 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   application_id          1000000 non-null  int64
 1   customer_id             1000000 non-null  int64
 2   application_date        1000000 non-null  datetime64[ns]
 3   product_type            1000000 non-null  object
 4   region                  1000000 non-null  object
 5   age                     1000000 non-null  int64
 6   education_level         1000000 non-null  object
 7   employment_status       1000000 non-null  object
 8   time_in_job_months      1000000 non-null  int64
 9   residential_status      1000000 non-null  object
 10  time_at_address_months  1000000 non-null  int64
 11  annual_income           1000000 non-null  float64
 12  other_income            1000000 non-null  float64
 13  total_income            1000000 non-null  float64
 14  monthly_income          1000000 non-null  float64
 15  loan_amount             1000000 non-null  float64
 16  term_months             1000000 non-null  int64
 17  monthly_debt_payments   1000000 non-null  float64
 18  dti                     1000000 non-null  float64
 19  savings_balance         1000000 non-null  float64
 20  credit_history_months   1000000 non-null  int64
 21  num_open_accounts       1000000 non-null  int64
 22  num_closed_accounts     1000000 non-null  int64
 23  num_delinquencies_12m   1000000 non-null  int64
 24  num_delinquencies_24m   1000000 non-null  int64
 25  utilization_rate        1000000 non-null  float64
 26  hard_inquiries_6m       1000000 non-null  int64
 27  hard_inquiries_12m      1000000 non-null  int64
 28  bankruptcies            1000000 non-null  int64
 29  collections             1000000 non-null  int64
 30  bureau_score            1000000 non-null  int64
 31  apr                     1000000 non-null  float64
 32  device_trust_score      1000000 non-null  float64
 33  email_domain_risk       1000000 non-null  object
 34  ip_risk                 1000000 non-null  object
 35  kyc_match               1000000 non-null  int64
 36  p_default_true          1000000 non-null  float64
 37  pd_bucket               1000000 non-null  object
 38  default_12m             1000000 non-null  int64
dtypes: datetime64[ns](1), float64(12), int64(18), object(8)
memory usage: 297.5+ MB

In [5]:
df.columns.tolist()

['application_id',
 'customer_id',
 'application_date',
 'product_type',
 'region',
 'age',
 'education_level',
 'employment_status',
 'time_in_job_months',
 'residential_status',
 'time_at_address_months',
 'annual_income',
 'other_income',
 'total_income',
 'monthly_income',
 'loan_amount',
 'term_months',
 'monthly_debt_payments',
 'dti',
 'savings_balance',
 'credit_history_months',
 'num_open_accounts',
 'num_closed_accounts',
 'num_delinquencies_12m',
 'num_delinquencies_24m',
 'utilization_rate',
 'hard_inquiries_6m',
 'hard_inquiries_12m',
 'bankruptcies',
 'collections',
 'bureau_score',
 'apr',
 'device_trust_score',
 'email_domain_risk',
 'ip_risk',
 'kyc_match',
 'p_default_true',
 'pd_bucket',
 'default_12m']

### Column Groups

**Identifiers**
- application_id
- customer_id
- application_date

**Demographics & Stability**
- age
- region
- education_level
- employment_status
- time_in_job_months
- residential_status
- time_at_address_months

**Financials**
- annual_income
- other_income
- total_income
- monthly_income
- savings_balance
- monthly_debt_payments
- dti

**Credit History**
- credit_history_months
- num_open_accounts
- num_closed_accounts
- num_delinquencies_12m
- num_delinquencies_24m
- utilization_rate
- hard_inquiries_6m
- hard_inquiries_12m
- bankruptcies
- collections
- bureau_score

**Loan Terms**
- product_type
- loan_amount
- term_months
- apr

**Fraud / KYC Proxies**
- device_trust_score
- email_domain_risk
- ip_risk
- kyc_match

**Target / Labels**
- p_default_true
- pd_bucket
- default_12m

In [8]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
application_id,"1,000,000.0000","10,500,000.5000","10,000,001.0000","10,250,000.7500","10,500,000.5000","10,750,000.2500","11,000,000.0000","288,675.2789"
customer_id,"1,000,000.0000","5,497,218.4923","1,000,000.0000","3,247,334.7500","5,498,659.0000","7,744,528.2500","9,999,992.0000","2,596,953.0145"
application_date,1000000,2024-12-20 12:11:15.907200256,2023-12-22 00:00:00,2024-06-21 00:00:00,2024-12-20 00:00:00,2025-06-21 00:00:00,2025-12-20 00:00:00,NaN
age,"1,000,000.0000",36.1538,18.0000,29.0000,36.0000,43.0000,75.0000,9.6869
time_in_job_months,"1,000,000.0000",29.9958,0.0000,9.0000,21.0000,42.0000,240.0000,29.9723
time_at_address_months,"1,000,000.0000",35.9274,0.0000,10.0000,25.0000,50.0000,240.0000,35.6266
annual_income,"1,000,000.0000","36,246.1657","8,000.0000","22,825.1300","31,993.7650","44,798.2125","250,000.0000","19,307.6981"
other_income,"1,000,000.0000","3,742.2981",23.9000,"1,361.4800","2,500.2300","4,580.1900","80,000.0000","4,160.7434"
total_income,"1,000,000.0000","39,988.4638","8,023.9000","26,234.0075","35,796.0850","48,944.1550","255,533.6900","19,748.3695"
monthly_income,"1,000,000.0000","3,332.3720",668.6600,"2,186.1700","2,983.0050","4,078.6825","21,294.4700","1,645.6975"
loan_amount,"1,000,000.0000","6,517.7070",100.0000,"2,133.3975","4,472.9200","8,495.4975","100,000.0000","6,877.6056"
term_months,"1,000,000.0000",26.7457,0.0000,0.0000,24.0000,48.0000,180.0000,30.1527
monthly_debt_payments,"1,000,000.0000",830.4018,19.1700,405.2800,650.4200,"1,042.4300","10,000.0000",658.5889
dti,"1,000,000.0000",0.3076,0.0042,0.1235,0.2173,0.3825,3.0000,0.3008
savings_balance,"1,000,000.0000","1,983.6876",10.0700,612.7600,"1,199.1200","2,356.2900","200,000.0000","2,628.7558"
credit_history_months,"1,000,000.0000",84.7184,0.0000,52.0000,84.0000,116.0000,307.0000,46.3354
num_open_accounts,"1,000,000.0000",6.0030,0.0000,4.0000,6.0000,8.0000,20.0000,2.4520
num_closed_accounts,"1,000,000.0000",8.9995,0.0000,7.0000,9.0000,11.0000,26.0000,2.9994
num_delinquencies_12m,"1,000,000.0000",0.5986,0.0000,0.0000,0.0000,1.0000,8.0000,0.7735
num_delinquencies_24m,"1,000,000.0000",1.0987,0.0000,0.0000,1.0000,2.0000,9.0000,1.0490
utilization_rate,"1,000,000.0000",0.3332,0.0004,0.1939,0.3136,0.4539,0.9798,0.1780
hard_inquiries_6m,"1,000,000.0000",0.7995,0.0000,0.0000,1.0000,1.0000,9.0000,0.8941
hard_inquiries_12m,"1,000,000.0000",1.3989,0.0000,1.0000,1.0000,2.0000,10.0000,1.1825
bankruptcies,"1,000,000.0000",0.0199,0.0000,0.0000,0.0000,0.0000,1.0000,0.1397
collections,"1,000,000.0000",0.1505,0.0000,0.0000,0.0000,0.0000,5.0000,0.3877
bureau_score,"1,000,000.0000",651.0489,408.0000,623.0000,653.0000,681.0000,840.0000,43.7590
apr,"1,000,000.0000",0.4105,0.1391,0.2564,0.2954,0.3688,1.8088,0.3722
device_trust_score,"1,000,000.0000",71.8239,0.0000,61.9000,72.0000,82.1000,100.0000,14.5787
kyc_match,"1,000,000.0000",0.9700,0.0000,1.0000,1.0000,1.0000,1.0000,0.1706
p_default_true,"1,000,000.0000",0.1009,0.0047,0.0439,0.0696,0.1166,0.9933,0.1024
default_12m,"1,000,000.0000",0.1015,0.0000,0.0000,0.0000,0.0000,1.0000,0.3020

In [9]:
missing = df.isna().mean().sort_values(ascending=False)
missing[missing > 0]

Series([], dtype: float64)

In [10]:
df["default_12m"].value_counts(normalize=True)

default_12m
0   0.8985
1   0.1015
Name: proportion, dtype: float64

In [11]:
df["product_type"].value_counts(normalize=True)

product_type
personal_loan    0.4509
credit_card      0.2991
auto_loan        0.1201
payday_like      0.0799
mortgage_topup   0.0500
Name: proportion, dtype: float64

In [12]:
df["application_date"].min(), df["application_date"].max()

(Timestamp('2023-12-22 00:00:00'), Timestamp('2025-12-20 00:00:00'))

In [13]:
df.groupby("default_12m")[
    ["dti", "utilization_rate", "bureau_score", "num_delinquencies_12m"]
].mean()

               dti  utilization_rate  bureau_score  num_delinquencies_12m
default_12m
0           0.2831            0.3283      652.8086                 0.5703
1           0.5252            0.3761      635.4665                 0.8497

In [15]:
BRONZE_PATH = "../data/bronze/credit_applications_20251221.parquet"
df.to_parquet(BRONZE_PATH, index=False)

## Summary & Next Steps

âœ” Data successfully ingested from Parquet  
âœ” Dataset contains ~1M credit applications  
âœ” No critical missing values detected  
âœ” Risk variables behave consistently with default outcomes  

**Next notebook:**  
âž¡ï¸ `02_data_quality_checks_and_validation.ipynb`